// @import 'loaders.css/src/animations/pacman.scss';
.me{
    position: relative;
    left: 45%;
    top: 23%;
    animation: fadeIn 1s 1s backwards;
    width: 50%;
    border-radius: 8px;
    opacity: 0.8;
    
   
}
.about-page{
    .text-zone{
        position: absolute;
        left: 10%;
        top: 15%;
        width: 50%;
        vertical-align: middle;
        display: table-cell;
        max-height: 90px;
        transform: translateY(-50%);

        h1{
            font-size: 53px;
            color:  rgb(119, 16, 16);
            font-weight: 400;
            font-family: 'Coolvetica';
            left: 10px;
            position: relative;

            &::before{
                content: '<h1>';
                color: rgb(119, 16, 16);
                font-family: 'La Belle Aurore';
                font-size: 23px;
                position: absolute;
                margin-top: -15px;
                left: 15px;
                opacity: 0.6;
                
            }
            &::after{
                content: '<h1/>';
                color: rgb(119, 16, 16);
                font-family: 'La Belle Aurore';
                font-size: 25px;
                position: absolute;
                margin-top: 65px;
                margin-left: 12px;
                line-height: -18px;
                left: -30px;
                animation: fadeIn 1s 1s backwards;
                
                opacity: 0.6;
                   }


     }
    }
}
p{
    
    font-style: 13px;
    color: white;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 17px;
    animation: pulse 1s;
    animation: fadeIn 1s 1s backwards;

    &:nth-of-type(1){
        animation-delay: 1.1s;
    }
    
    &:nth-of-type(2){
        animation-delay: 1.2s;
    }
    
    &:nth-of-type(3){
        animation-delay: 1.3s;
    }

 }  
 .text-animate-hover{
    &:hover{
        color:  rgb(119, 16, 16);
    }
 }
 @media (max-width: 768px) {
    .me {
        left: 0;
        top: 40%; // Adjust the top position
        width: 280px;
        height: 290px;
        position: relative;
        margin-left: 24px;
        z-index: 1;
        opacity: 0.5;
        border-radius: 15px;
       
    }

    .about-page .text-zone {
       
        left: 10px; // Adjust the left position
        top: 10%; // Adjust the top position
        width: 95%; // Wider width for mobile
        transform: none; // Remove transform
        display: block; // Remove table-cell and vertical-align
        max-height: auto; // Remove max-height
    }

    .about-page h1 {
        font-size: 36px; // Adjust font size
        bottom: 70px;
        &::before, &::after {
            display: none; // Hide pseudo-elements on mobile
        }
    }

    p {
        font-weight: bolder;
        font-size: 19px; // Adjust font size
        animation-delay: 0.5s; // Adjust animation delay
    }
    .p-tag{
        top: 2px;
        bottom: 40px;
    }

    .text-animate-hover {
        &:hover {
            color: inherit; // Revert to the default color
        }
    }
}
