
.project-card {
    color: rgb(66, 102, 66);
    border-radius: 10px;
    text-align: left;
    animation: fadeIn 1s ease-in;
    margin-left: 100px;
    
} 

  


/* Style the horizontal scroll container */
.scroll-container {
    display: flex;
    overflow-x: auto;
    scrollbar-width: thin; /* Firefox support */
    scrollbar-color: rgb(66, 102, 66) rgba(0, 0, 0, 0.2); /* Firefox support */
   
    
  
    &::-webkit-scrollbar {
      display: none;
      width: 10px;
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2);
      border: 2px solid transparent;
      background-clip: content-box;
    }
  
    &::-webkit-scrollbar-thumb:hover {
      background-color: rgba(0, 0, 0, 0.4);
    }
  }
  
 
  /* Index.scss */

/* Style the horizontal scroll container */

    .centered {
      justify-content: center; /* Center the cards */
    }
  

    @media (max-width: 768px) {
      .project-card {
        color: rgb(66, 102, 66);
        border-radius: 10px;
        text-align: left;
        animation: fadeIn 1s ease-in;
        margin-left: 20px;
        
    } 

    }
  