.scroll-container {
  display: flex;
  overflow-x: auto; /* Enable horizontal scrolling */
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.1); /* Firefox colors */
  padding-bottom: 10px; /* Add space for scrollbar visibility */

  &::-webkit-scrollbar {
    height: 8px; /* Horizontal scrollbar height */
  }

  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.5);
  }
}

.scroll-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
